<!DOCTYPE html>
<html>
    <head>
        <title>
            MMU Lost Hub
        </title>
    </head>

    <body>
        <header>
            <h1>
                MMU Logo
            </h1>
            <h1>
                Lost Hub Logo
            </h1>
        </header>
<!--Nav-->
        <div class="dropdown-nav">
            <nav>
                Menu
            </nav>
            <div class="dropdown-content">
                <a href="{% url 'admin_mainpage' %}">Home</a>                         <!--zinc admin home page link-->
                <a href="#">View User</a>                       <!--zinc view user link-->
                <a href="{% url 'admin_feedback' %}">View Feedback</a> <!--zinc feedback/report link-->
                <a href="{% url 'admin_report' %}">View Report</a>
                <a href="{% url 'logout' %}">Logout</a>         <!--yt logout link-->
            </div>
        </div>
<!--Search Bar-->
        <div class="search-bar">
            <form method="GET">
                 <input type="text" name="q" placeholder="Search for feedback...">
                 <button type="submit">Search</button>
            </form>
        </div>
<!--report view demo-->
        <div class="report-card">
<h2>Report</h2>
{% for report in reports %}
    
        <p><strong>User:</strong> {{ report.user.username|default:"Deleted User" }}</p>
        <p><strong>Reason:</strong> {{ report.comments }}</p>
        <p><strong>Date:</strong> {{ report.created_at|date:"Y-m-d H:i" }}</p>
        <p><strong>Status:</strong> {{ report.status }}</p>
        <p><strong>Image:</strong></p>
        {% if report.image %}
        <img src="{{ report.image.url }}"
        alt="Report Image"
        style="max-width: 300px;">
        {% else %}
        <p style="color:gray;">No Image Provided</p>
        {% endif %}

        <h3>Original Post</h3>

        {% if report.post and report.post.post_user %}

        <p><strong>Post Author:</strong> {{ report.post.post_user.username }}</p>
        <p><strong>Type:</strong> {{ report.post.post_type }}</p>
        <p><strong>Category:</strong> {{ report.post.get_post_itemcategory_display }}</p>
        <p><strong>Location:</strong> {{ report.post.post_location }}</p>
        <p><strong>Description:</strong> {{ report.post.post_description }}</p>

        {% else %}
            <p style="color:red;">(Post already deleted)</p>
        {% endif %}
            
<!--Status Button-->
        {% if report.status|lower == 'pending' %}
        <form action="{% url 'update_report_status' report.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Mark as Checked</button>
        </form>
        {% endif %}
        <hr>
    
{% empty %}
    <p>No reports yet</p>
{% endfor %}
        </div>
        <footer>
            &copy; 2026 MMU Lost Hub. All rights reserved.
        </footer>
    </body>
</html>