{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>

        <!-- yt added -->
        <!-- Prevent browser cache, user cannot press back to access previous page -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> 
        <!-- Older browser cache prevention -->
        <meta http-equiv="Pragma" content="no-cache">
        <!-- Expire page immediately -->
        <meta http-equiv="Expires" content="0">

        <link rel="stylesheet" type="text/css" href="{% static 'user/css/beginning.css' %}">
    </head>

    <body>
        <div class="whole-page">
            <header>
                <img src="{% static 'images/MMULogo.png' %}" alt="MMU Logo" class="mmu-logo">
            </header>

            <div class="content">
                <div class="banner">
                    <div class="web-logo">
                        <img src="{% static 'images/WebLogo-top.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo-top">
                        <img src="{% static 'images/WebLogo-base.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo-base">
                    </div>
                    
                    <div class="slogan">
                    
                    <div id="errorPopup" class="popup"></div>
                        <p>
                            What's lost can be found,<br>
                        and found can find its way back.
                        </p>

                        <nav class="main-nav">
                            <div class="action-btn">
                                <a href="{% url 'user_login' %}">User Login</a>
                                <a href="{% url 'register' %}">Register</a>
                                <a href="{% url 'admin_login' %}">Admin Login</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            
            <footer>
                <p>© 2026 MMU Lost Hub<br>
                <br>Designed by:<br>Kho Yee Theng<br>Tan Yun Fee<br>Lim Tze Ying</p>
            </footer>
        </div>

        <script>
           function initBackLock() {
                window.history.pushState(null, "", window.location.href);
            }
            
            initBackLock();

            function showPopup(msg, type = "error") {
                const popup = document.getElementById("errorPopup");

                if (popup) {
                    popup.innerHTML = msg;
                    
                    popup.classList.remove("error", "success", "show");
                    
                    void popup.offsetWidth; 

                    popup.classList.add(type, "show");

                    setTimeout(() => {
                        popup.classList.remove("show");
                    }, 3500);
                }
            }

            window.onpopstate = function (event) { // Detect back button press
                sessionStorage.setItem("show_back_warning", "true");

                window.location.replace("{% url 'beginning' %}");
            };

            window.addEventListener("pageshow", function (event) { // Detect page restored from cache
                // event.peristed=check if the page was restored from the 'back-forward cache'=store previous page
                if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                    window.location.reload(); // Force refresh page
                }
            });

            document.addEventListener("DOMContentLoaded", function () { // Run after page loads
                const params = new URLSearchParams(window.location.search); // Read URL parameters
                if (params.has("next")) { // If redirect happened
                    showPopup("Please login first to continue", "error");
                    window.history.replaceState({}, document.title, window.location.pathname); // Clear URL
                }

                if (sessionStorage.getItem("show_back_warning") === "true") {
                    showPopup("Please login first to continue", "error");
                    sessionStorage.removeItem("show_back_warning");
                }
            });

           window.addEventListener("load", () => {
                {% if messages %}
                    {% for message in messages %}
                        if ("{{ message }}" === "logout_success" || "{{ message.tags }}" === "success") {
                            showPopup("Logout successful!", "success");
                        } else {
                            showPopup("{{ message|escapejs }}", "error");
                        }
                    {% endfor %}
                {% endif %}
            });
        </script>
    </body>
</html>