{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/email-verify.css' %}">
    </head>

<body>
    <div class="whole-page">
        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class="mmu-logo">
        </header>

        <div class="content">
            <div class="banner">
                <div class="web-logo">
                    <img src="{% static 'images/Web Logo' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
                </div>

                <div class="slogan">
                    <p>
                        What's lost can be found,<br>
                    and found can find its way back.
                    </p>

                <button onclick="goBack()">Back</button>

                </div>
                    <p id="otpTimer"></p> <!-- Show OTP countdown -->
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="otp-box" id="otpBox">
                            <input type="text" maxlength="1" class="otp-digit">
                            <input type="text" maxlength="1" class="otp-digit">
                            <input type="text" maxlength="1" class="otp-digit">
                            <input type="text" maxlength="1" class="otp-digit">
                            <input type="text" maxlength="1" class="otp-digit">
                            <input type="text" maxlength="1" class="otp-digit">
                        </div>
                        
                        <input type="hidden" name="otp" id="otpHidden"> <!-- Hidden input to store full OTP from each box at frontend for backend -->
                        <button type="submit">Verify</button>

                        {% if error %}
                            <p id="errorMsg" style="color:red;">{{ error }}</p>
                        {% endif %}
                    </form>
                    
                    <button type="button" id="resendBtn" {% if not can_resend %}disabled{% endif %}>Resend OTP</button>

                    <p id="resendTimer"></p>
            </div>
        </div>

        <footer>
            <p>© 2026 MMU Lost Hub<br>
            <br>Designed by:<br>Kho Yee Theng<br>Tan Yun Fee<br>Lim Tze Ying</p>
        </footer>
    </div>

    {{ otp_remaining|json_script:"otp-time" }} <!-- Pass python to JS, after pass <script><p id="otpTimer">60</script>-->
    {{ resend_remaining|json_script:"resend-time" }}

    <script>
        function goBack() {
            window.location.replace("{% url 'beginning' %}")
        }

        let otpTime = 0;
        let resendTime = 0;
        
        try {
            otpTime = JSON.parse(document.getElementById("otp-time").textContent); // Convert string to number
            resendTime = JSON.parse(document.getElementById("resend-time").textContent);
        } catch (e) {
            console.log("Timer init error", e);
        }

        const otpTimer = document.getElementById("otpTimer");
        const resendTimer = document.getElementById("resendTimer");
        const resendBtn = document.getElementById("resendBtn");


        const inputs = document.querySelectorAll(".otp-digit");
        const hiddenInput = document.getElementById("otpHidden");
        const form = document.querySelector("form");
        const otpBox = document.getElementById("otpBox");
        const errorMsg = document.getElementById("errorMsg");

        if (inputs.length > 0) { // Focus first box
            inputs[0].focus();
        }

        function updateHidden() {
            hiddenInput.value = Array.from(inputs) // Combine OTP 6-digits
            .map(i => i.value)
            .join("");
        }

        function hideError() {
            if (!errorMsg) return;

            errorMsg.style.opacity = "0"; // Fade out effect for error msg

            setTimeout(() => {
                errorMsg.style.display = "none";
            }, 300);
        }

        inputs.forEach((input, index) => {
            
            input.addEventListener("input", (e) => { // Detect typing
                let value = e.target.value.replace(/\D/g, ""); // Remove non-numbers
                input.value = value;

                if (value && index < inputs.length - 1) {
                    inputs[index + 1].focus(); // Auto move next box
                }

                updateHidden();

                if (hiddenInput.value.length === 6) {
                    form.submit(); // Auto submit
                }

                hideError();
            });

            input.addEventListener("keydown", (e) => {
                if (e.key === "Backspace" && !input.value && index > 0) { // Move back when delete
                    inputs[index - 1].focus();
                }
            });

            input.addEventListener("paste", (e) => { // Copy and paste
                e.preventDefault();

                let data = e.clipboardData
                    .getData("text")
                    .replace(/\D/g, "")
                    .slice(0, 6); // Max 6-digits

                inputs.forEach((box, i) => {
                    box.value = data[i] || "";
                });

                updateHidden();

                const nextIndex = Math.min(data.length, 5);
                inputs[nextIndex].focus();

                if (data.length === 6) {
                    form.submit();
                }
            });
        });

        window.addEventListener("load", () => {
            if (errorMsg && otpBox) {
                otpBox.classList.add("shake"); // Shake animation effect

                setTimeout(() => {
                    otpBox.classList.remove("shake");
                }, 300);
            }
        });

        function updateTimers() {
            if (otpTime > 0) {
                otpTimer.innerText = "OTP expires in: " + otpTime + "s";
                otpTime--;
            } else {
                otpTimer.innerText = "OTP expired";
            }

            if (resendTime > 0) {
                resendTimer.innerText = "Resend available in: " + resendTime + "s";
                resendBtn.disabled = true; // Disabled button
                resendTime--;
            } else {
                resendTimer.innerText = "";
                resendBtn.disabled = false;
            }

            setTimeout(updateTimers, 1000); // Update every second
        }

        updateTimers();

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie) {
                const cookies = document.cookie.split(';');

                for (let cookie of cookies) {
                    cookie = cookie.trim();

                    if (cookie.startsWith(name + '=')) {
                        cookieValue = cookie.substring(name.length + 1);
                    }
                }
            }
            return cookieValue;
        }

        resendBtn.addEventListener("click", function () {
            fetch("{% url 'resend_otp' %}", { // Send request to backend
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie('csrftoken'), // CSRF token for security
                    "Content-Type": "application/json"
                },
                credentials: "same-origin"
            })
            .then(res => res.json()) // Convert to JSON
            .then(data => {

                if (data.error) { // Show error
                    alert(data.error); // Popup for error
                    return;
                }

                alert("OTP sent!");

                otpTime = 60; // Reset time
                resendTime = 30;
                resendBtn.disabled = true;

                inputs.forEach(i => i.value = ""); // Clear input boxes
                inputs[0].focus();
                hiddenInput.value = "";
            })
            .catch(err => {
                console.error(err);
            });
        });
    </script>
</body>
</html>