{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">

        <link rel="stylesheet" type="text/css" href="{% static 'user/css/profile.css' %}">
        <!-- Import Cropper.js library for image cropping -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    </head>

<body>
    <div class="whole-page">
        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class="mmu-logo">
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu Button
            </nav>
            
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="#"> Found Post </a>                <!-- yt found post link -->
                <a href="{% url 'profile' %}"> Profile </a>                   <!-- yt profile link -->       
                <a href="{% url 'feedback_form' %}">Feedback/Report</a>   <!-- zinc feedback link -->
                <a href="{% url 'logout' %}"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <h1>My Profile</h1>
        <!--zinc reverify acc-->
        {% if need_reverify %}
    <div>
        <h3 style="color:red;">
            Your account has been reported.
        </h3>
        <p>
            Please verify your account again.
        </p>
    </div>
{% endif %}

        <!-- Display user's uploaded avatar or default avatar if user has none with-->
        <!-- now = current time ; |date:'U' = convert time to Unix timestamp(second) ; Force to reload image instead of using cache -->
        {% if profile.avatar %}
            <img id="avatarImage" src="{{ profile.avatar.url }}?v={{ now|date:'U' }}" 
            width="150" height="150" style="border-radius:50%; object-fit:cover; cursor:pointer;">
        {% else %}
            <img id="avatarImage"  src="{% static 'images/default.png' %}?v={{ now|date:'U' }}" 
            width="150" height="150" style="border-radius:50%; object-fit:cover; cursor:pointer;">
        {% endif %}

        <div id="editor" style="display:none;"> <!-- Hide edit button -->
            <input type="file" id="imageInput"> <!-- File input for image upload -->

            <div>
                <img id="preview" style="max-width:100%; max-height:400px;"> <!-- Preview selected image -->
            </div>

            <button onclick="cropImage()">Crop & Upload</button>

            <button onclick="cancelCrop()">Cancel</button>
        </div>
        {% csrf_token%} <!-- Security token to prevent CSRF attack -->

        <div class="profile-info"> 
            <!-- Show name (User and Admin not the same) -->
            <p id="nameText">{{ profile.name|default:user.first_name|default:user.username }}</p>

            <!--zinc add-->
            {% if not is_owner %}
                <form method="POST" action="{% url 'report_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button type="submit">Report User</button>
                </form>
            {% endif %}

            <button onclick="showNameEdit()">Edit Name</button>

            <form id="nameForm" method="POST" action="{% url 'update_name' %}" style="display:none;">
                {% csrf_token %}
                <input type="text" name="name" value="{{ profile.name }}">
                <button type="submit">Save</button>
                <button type="button" onclick="hideNameEdit()">Cancel</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <p style="color:red;">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <p><b>MMU Email:</b> {{ user.email }}</p>
        </div>

        <h2>Bio</h2>

        <p id="bioText">{{ profile.bio }}</p>

        <button onclick="showBioEdit()">Edit Bio</button>

        <form id="bioForm" method="POST" action="{% url 'update_bio' %}" style="display:none;">
            {% csrf_token %} <!-- Security token to prevent CSRF attack -->
            <!-- Bio box to input -->
            <textarea name="bio" rows="4" cols="50">{{ profile.bio }}</textarea>
            <br>
            <button type="submit">Save</button>
            <button type="button" onclick="hideBioEdit()">Cancel</button>
        </form>

        <div style="margin-top:20px;">
            <button onclick="showAll()">All</button>
            <button onclick="showLost()">Lost</button>
            <button onclick="showFound()">Found</button>
        </div>

        <div id="lostSection">
            <h2>Lost Posts</h2>
            {% for post in lost_posts %}
                <div class="lost-item">
                    <p><b>Category:</b> {{ post.post_itemcategory }}</p>
                    <p><b>Description:</b> {{ post.post_description }}</p>
                    <p><b>Location:</b> {{ post.post_location }}</p>
                    <p><b>Date:</b> {{ post.post_datetime }}</p>
                    <p>————————————————————————————————————————————————————————</p>
                </div>
            {% empty %}
                <p>No lost posts</p>
            {% endfor %}
        </div>

        <div id="foundSection">
            <h2>Found Posts</h2>
            {% for post in found_posts %}
                <div class="found-item">
                    <p><b>Category:</b> {{ post.post_itemcategory }}</p>
                    <p><b>Description:</b> {{ post.post_description }}</p>
                    <p><b>Location:</b> {{ post.post_location }}</p>
                    <p><b>Date:</b> {{ post.post_datetime }}</p>
                    <p>————————————————————————————————————————————————————————</p>
                </div>
            {% empty %}
                <p>No found posts</p>
            {% endfor %}
        </div>

        <footer>
            <p>© 2026 MMU Lost Hub<br>
            <br>Designed by:<br>Kho Yee Theng<br>Tan Yun Fee<br>Lim Tze Ying</p>
        </footer>
    </div>

    <script>
        let cropper; // Save cropper object for later use
        const avatar = document.getElementById('avatarImage'); // Get avatar element
        const preview = document.getElementById('preview'); // Image preview area
        const editor = document.getElementById('editor'); // Image editor container

        // Get CSRF token from page
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        // Open image editor when avatar is clicked
        avatar.addEventListener('click', function() {
            editor.style.display = "block";

            // Remove previous cropper
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }

            preview.src = avatar.src; // Load current avantar

            preview.onload = function () {
                // Initialize cropper with square ratio
                cropper = new Cropper(preview, {
                    aspectRatio: 1,
                    viewMode: 1
                });
            };
        });

        // Detect user selected image file
        document.getElementById('imageInput').addEventListener('change', function(e) {

            const file = e.target.files[0];
            if (!file) return; // Get selected file

            const url = URL.createObjectURL(file); // Create temporary image URL

            // Reset cropper
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }

            preview.src = url;

            preview.onload = function () {
                cropper = new Cropper(preview, {
                    aspectRatio: 1,
                    viewMode: 1
                });
            };
        });

        function cropImage() {
            // Ensure image exists to crop
            if (!cropper) {
                alert("Select an image first");
                return;
            }

            // Get cropped image
            const canvas = cropper.getCroppedCanvas({
                width: 300,
                height: 300
            });

            canvas.toBlob(function(blob) {

                const formData = new FormData();
                formData.append("avatar", blob, "avatar.jpg"); // Prepare image for upload

                // Send cropped image to Django backend
                fetch("{% url 'update_avatar' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCSRFToken() // Include CSRF token in fetch request
                    },
                    body: formData
                })
                // Reload page after upload
                .then(res => res.text())
                .then(data => {
                    console.log("UPLOAD SUCCESS:", data);
                    location.reload(); // Refresh page
                })
                .catch(err => console.error(err));
            });
        }

        function cancelCrop() {
            document.getElementById("editor").style.display = "none"; // Hide editor

            const preview = document.getElementById("preview");
            preview.src = ""; // Clear preview

            document.getElementById("imageInput").value =""; // Reset file input

            // Destroy cropper
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }
        }

        function showNameEdit() {
            document.getElementById("nameForm").style.display = "block";
            document.getElementById("nameText").style.display = "none";
        }

        function hideNameEdit() {
            document.getElementById("nameForm").style.display = "none";
            document.getElementById("nameText").style.display = "block";
        }

        function showBioEdit() {
            document.getElementById("bioForm").style.display = "block";
            document.getElementById("bioText").style.display = "none";
        }

        function hideBioEdit() {
            document.getElementById("bioForm").style.display = "none";
            document.getElementById("bioText").style.display = "block";
        }

        // Run when page is ready
        document.addEventListener("DOMContentLoaded", function () {
            showAll();
        });
        // Show all lost and found posts
        function showAll() {
            document.getElementById("lostSection").style.display = "block";
            document.getElementById("foundSection").style.display = "block";
        }
        
        function showLost() {
            document.getElementById("lostSection").style.display = "block";
            document.getElementById("foundSection").style.display = "none";
        }

        function showFound() {
            document.getElementById("lostSection").style.display = "none";
            document.getElementById("foundSection").style.display = "block";
        }
    </script>
</body>
</html>