<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/profile.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    </head>

<body>
    <div class="whole-page">
        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class="mmu-logo">
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu Button
            </nav>
            
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="#"> Found Post </a>                <!-- yt found post link -->
                <a href="{% url 'profile' %}"> Profile </a>                   <!-- yt profile link -->       
                <a href="{% url 'feedback_form' %}"> Feedback/Report </a>  <!-- zinc feedback link -->
                <a href="#"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <h1>My Profile</h1>

        {% if profile.avatar %}
            <img id="avatarImage" src="{{ profile.avatar.url }}?v={{ now|date:'U' }}" 
            width="150" height="150" style="border-radius:50%; object-fit:cover; cursor:pointer;">
        {% else %}
            <img id="avatarImage"  src="{% static 'images/default.png' %}?v={{ now|date:'U' }}" 
            width="150" height="150" style="border-radius:50%; object-fit:cover; cursor:pointer;">
        {% endif %}

        <div id="editor" style="display:none;">
            <input type="file" id="imageInput">

            <div>
                <img id="preview" style="max-width:100%; max-height:400px;">
            </div>

            <button onclick="cropImage()">Crop & Upload</button>
        </div>
        {% csrf_token%}

        <div class="profile-info">
            <p><b>Name:</b> {{ user.username }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
        </div>

        <h2>Bio</h2>

        <p id="bioText">{{ profile.bio }}</p>

        <button onclick="showEdit()">Edit</button>

        <form id="bioForm" method="POST" action="{% url 'update_bio' %}" style="display:none;">
            {% csrf_token %}
            <textarea name="bio" rows="4" cols="50">{{ profile.bio }}</textarea>
            <br>
            <button type="submit">Save</button>
            <button type="button" onclick="hideEdit()">Cancel</button>
        </form>

        <script>
            function showEdit() {
                document.getElementById("bioForm").style.display = "block";
                document.getElementById("bioText").style.display = "none";
            }

            function hideEdit() {
                document.getElementById("bioForm").style.display = "none";
                document.getElementById("bioText").style.display = "block";
            }

            let cropper;
            const avatar = document.getElementById('avatarImage');
            const preview = document.getElementById('preview');
            const editor = document.getElementById('editor');

            function getCSRFToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            avatar.addEventListener('click', function() {

                editor.style.display = "block";

                if (cropper) {
                    cropper.destroy();
                    cropper = null;
                }

                preview.src = avatar.src;

                preview.onload = function () {
                    cropper = new Cropper(preview, {
                        aspectRatio: 1,
                        viewMode: 1
                    });
                };
            });

            document.getElementById('imageInput').addEventListener('change', function(e) {

                const file = e.target.files[0];
                if (!file) return;

                const url = URL.createObjectURL(file);

                if (cropper) {
                    cropper.destroy();
                    cropper = null;
                }

                preview.src = url;

                preview.onload = function () {
                    cropper = new Cropper(preview, {
                        aspectRatio: 1,
                        viewMode: 1
                    });
                };
            });

            function cropImage() {
                if (!cropper) {
                    alert("Select an image first");
                    return;
                }

                const canvas = cropper.getCroppedCanvas({
                    width: 300,
                    height: 300
                });

                canvas.toBlob(function(blob) {

                    const formData = new FormData();
                    formData.append("avatar", blob, "avatar.jpg");

                    fetch("{% url 'update_avatar' %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCSRFToken()
                        },
                        body: formData
                    })
                    .then(res => res.text())
                    .then(data => {
                        console.log("UPLOAD SUCCESS:", data);
                        location.reload();
                    })
                    .catch(err => console.error(err));
                });
            }
        </script>

        <h2>Lost Items</h2>
        {% for post in lost_posts %}
            <div>
                <p><b>Category:</b> {{ post.post_itemcategory }}</p>
                <p><b>Description:</b> {{ post.post_description }}</p>
                <p><b>Location:</b> {{ post.post_location }}</p>
                <p><b>Date:</b> {{ post.post_datetime }}</p>
                <p>————————————————————————————————————————————————————————</p>
            </div>
        {% empty %}
            <p>No lost posts</p>
        {% endfor %}

        <h2>Found Items</h2>
        {% for post in found_posts %}
            <div>
                <p><b>Category:</b> {{ post.post_itemcategory }}</p>
                <p><b>Description:</b> {{ post.post_description }}</p>
                <p><b>Location:</b> {{ post.post_location }}</p>
                <p><b>Date:</b> {{ post.post_datetime }}</p>
                <p>————————————————————————————————————————————————————————</p>
            </div>
        {% empty %}
            <p>No found posts</p>
        {% endfor %}
    </div>
</body>
</html>