<!DOCTYPE html>

<html>
    <head> 
        <title> 
            MMU Lost Hub
            {% load static %}
        </title>
    </head>

    <body>
        <header>
            <img src="{% static 'images/MMU Logo.png' %}" alt="MMU Logo" class = "mmu-logo">

            <img src="{% static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <div class = "dropdown-nav">
            <nav>
                Menu button
            </nav>
            <div class = "dropdown-content">
                <a href = "{% url 'mainPage' %}"> Home </a>
                <a href = "#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href = "#"> Found Post </a>                <!-- yt found post link -->
                <a href = "#"> Profile </a>                   <!-- yt profile link -->
                <a href = "{% url 'feedback' %}"> Feedback/Report </a>
                <a href = "#"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <div class = "create-post-box">
            <h2>
                CREATE POST
            </h2>

            <form method = "POST">
                {% csrf_token %}                <!-- Django security protection code -->
                
                <label> Type: </lable>
                <select name = "post_type">
                    <option value = ""> Select Post Type </option>
                    <option value = "lost"> Lost Post </option>
                    <option value = "found"> Found Post </option>
                </select>

                <br><br>

                <label> Date Time: </label>
                <input type = "datetime-local" name = "post_datetime">

                <br><br> 

                <label> Item Category: </label>
                <select name = "post_itemcategory">
                    <option value = ""> Select Category </option>

                    {% for value, label in item_categories %}                       <!-- (value, label) mcm inside model-->
                        <option value = "{{ value }}"> {{ label }} </option>
                    {% endfor %}
                </select>

                <br><br>

                <label> Location: </label>
                <select name = "post_location">
                    <option value = " "> Select Location </option>

                </select>

                <br><br>

                <label> Item Description: </label>
                <textarea name = "post_description" placeholder = " Describe the item or give it a name ^-^ "></textarea>

                <br><br>

                <button type = "submit">
                    <a href = "{% url 'mainPage' %}"> 
                        Create Post 
                    </a>
                </button>

            </form>
        </div>
    </body>

    <footer>
        <p>
            © 2026 MMU Lost Hub
            <br>
            Designed by: Kho Yee Theng / Tan Yun Fee / Lim Tze Ying
        </p>
    </footer>
</html>


