<!DOCTYPE html>
<html>
    {% load static %}

    <head>
        <title>MMU Lost Hub</title>
        
        <link rel="stylesheet" href="{% static 'items/css/createpost.css' %}">
        <script src="{% static 'items/js/createpost.js' %}" defer></script>
    </head>

    <body>

        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class="mmu-logo">
            <img src="{% static 'images/Web Logo' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <!-- NAV -->
        <div class="dropdown-nav">
            <nav>Menu button</nav>
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}">Home</a>
                <a href="#">Lost Post</a>
                <a href="#">Found Post</a>
                <a href="#">Profile</a>
                <a href="{% url 'feedback_form' %}">Feedback/Report</a>
                <a href="#">Logout</a>
            </div>
        </div>

        <!-- EDIT FORM -->
        <div class="editpost-box">

            <h2>EDIT POST</h2>

            {% if messages %}
                {% for message in messages %}
                    <script>
                        alert("{{ message }}");
                    </script>
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- TYPE -->
                <label>Type:</label>
                <select name="post_type">
                    <option value="">Select Post Type</option>

                    <option value="lost"
                        {% if post_data.post_type|default:post.post_type == "lost" %} selected {% endif %}>
                        Lost Post
                    </option>

                    <option value="found"
                        {% if post_data.post_type|default:post.post_type == "found" %} selected {% endif %}>
                        Found Post
                    </option>
                </select>

                <br><br>

                <!-- DATETIME -->
                <label>Date Time:</label>
                <input
                    type="datetime-local"
                    name="post_datetime"
                    value="{% if post_data.post_datetime %}{{ post_data.post_datetime }}{% else %}{{ post.post_datetime|date:'Y-m-d\\TH:i' }}{% endif %}"
                >

                <br><br>

                <!-- IMAGE -->
                <label>Upload Item Image:</label>

                <img
                    id="image_preview"
                    src="{% if post.post_image %}{{ post.post_image.url }}{% endif %}"
                    width="200"
                    style="{% if not post.post_image %}display: none;{% endif %}"
                >

                <input type="file"
                    id="post_image"
                    name="userposts_images"
                    accept="image/*">

                <br><br>

                <!-- CATEGORY -->
                <label>Item Category:</label>
                <select name="post_itemcategory">

                    <option value="">Select Category</option>

                    {% for value, label in item_categories %}
                        <option value="{{ value }}"
                            {% if post_data.post_itemcategory|default:post.post_itemcategory == value %} selected {% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}

                </select>

                <br><br>

                <!-- LOCATION -->
                <label>Location:</label>
                <select name="post_location" id="post_location">

                    <option value="">Select Location</option>

                    {% for loc in locations %}
                        <option value="{{ loc.location_code }}"
                            {% if post_data.post_location|default:post.post_location.location_code == loc.location_code %}
                                selected
                            {% endif %}>
                            {{ loc.location_name }}
                        </option>
                    {% endfor %}

                </select>

                <br><br>

                <!-- MAP -->
                <p>Click Map to choose location:</p>

                <div class="map_box">
                    <img src="{% static 'images/map-img.jpg' %}" id="smallMap" class="smallMap">
                    <div id="smallMap_marker" class="smallMap-marker">📍</div>
                </div>

                <br><br>

                <!-- DESCRIPTION -->
                <label>Item Description:</label>
                <textarea name="post_description"
                        placeholder="Describe the item or give it a name ^-^">{{ post_data.post_description|default:post.post_description }}</textarea>

                <br><br>

                <div id="map_modal" class="map_modal">

                    <div class="mapmodal_content">

                        <!-- Close button -->
                        <span id="close_map" class="close_button">
                            &times;
                        </span>

                        <!-- Scroll container -->
                        <div class="map-scroll-container">

                            <div id = "location_label" class = "location_label"></div>

                            <div class="big-map-box">
    
                                <img
                                    src="{% static 'images/map-img.jpg' %}"
                                    id="bigMap"
                                    class="bigMap"
                                    alt="MMU Big Map"
                                >

                                <div id="bigMap_marker" class="bigMap-marker">
                                    📍
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <br><br>

                <button type="submit" onclick="return confirmEdit()">
                    Update Post
                </button>

            </form>
        </div>

    </body>

    <footer>
        <p>
            © 2026 MMU Lost Hub
            <br>
            Designed by: Kho Yee Theng / Tan Yun Fee / Lim Tze Ying
        </p>
    </footer>

</html>