<!DOCTYPE html>
<html>
    <head> 
        <title> 
            MMU Lost Hub
        </title>

    <body>
        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class = "mmu-logo">

            <img src="{% static 'images/Web Logo' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <div class = "dropdown-nav">
            <nav>
                Menu button
            </nav>
            <div class = "dropdown-content">
                <a href = "{% url 'mainPage' %}"> Home </a>
                <a href = "#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href = "#"> Found Post </a>                <!-- yt found post link -->
                <a href = "#"> Profile </a>                   <!-- yt profile link -->
                <a href = "{% url 'feedback_form' %}"> Feedback/Report </a>
                <a href = "#"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <div class = "editpost-box">
            <h2>
                EDIT POST
            <h2>