{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        {% load static %}

        <title> 
            MMU Lost Hub 
        </title>

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">

        <script src="{% static 'items/js/mainpage.js' %}" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
        <header>
            <img src="{% static 'images/MMU Logo' %}" alt="MMU Logo" class = "mmu-logo">

            <img src="{% static 'images/Web Logo' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu Button
            </nav>
            
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="{% url 'lost_posts' %}"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="{% url 'found_posts' %}"> Found Post </a>                <!-- yt found post link -->
                <a href="{% url 'profile' %}"> Profile </a>                   <!-- yt profile link -->       
                <a href="{% url 'feedback_form' %}">Feedback/Report </a>  <!-- zinc feedback link -->
                <a href="{% url 'logout' %}"> Logout </a>               <!-- yt logout link -->
            </div>
        </div>

        {% if messages %}
            <script>
                {% for message in messages %}
                    Swal.fire({
                        icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}",
                        title: "{{ message.tags|title }}",
                        text: "{{ message }}",

                        {% if message.tags == "success" %}
                            timer: 2000,
                            timerProgressBar: true,
                            showConfirmButton: false
                        {% endif %}
                    });
                {% endfor %}
            </script>
        {% endif %}

        <div class="search_bar">                                        <!-- after need to be changed when starting to do search feature -->
            <input type="text" placeholder="Search for items...">
            <button type="submit"> Search </button>
        </div>

        <h2>Lost Posts</h2>
        
        <div class="post-list">
            {% for post in posts %}
                <div class = "post-box">

                    <div class = "post">
                        
                        <div class = "post-nav">
                            {% if request.user == post.post_user %}
                                <a href="{% url 'editPost' post.id %}">
                                    Edit Post
                                </a>

                                <form
                                    method = "POST"
                                    action = "{% url 'deletePost' post.id %}"
                                    onsubmit = "confirmDelete(event, this)"
                                >
                                    {% csrf_token %}

                                    <button type="submit">
                                        Delete Post
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                        <!-- yf added -->
                        <p> 
                            Posted by: 
                            <a href="{% url 'userProfile' post.post_user.username %}">
                                {{ post.post_user.username }}
                            </a>
                        </p>

                        {% if post.post_image %}
                            <img src="{{ post.post_image.url }}" alt="Post Image" class="post-image" required>
                        {% endif %}
                        <p> Date Time: {{ post.post_datetime }} </p>
                        <p> Item Category: {{ post.get_post_itemcategory_display }} </p>
                        <p> Location: {{ post.post_location.location_name }} </p>

                    </div>
                </div>
            {% empty %}
                <div class = "no_post">
                    <p> No posts available. </p>
                </div>
            {% endfor %}
        </div>

        <div class="create_post">
            {% if user.is_authenticated %}
                <button type="button">
                    <a href="{% url 'createPost' %}"> 
                        Create Post 
                    </a>
                </button>
            {% else %}
                <button type="button" onclick="pleaseLoginPopup()">
                    Create Post
                </button>
            {% endif %}
        </div>

        <footer>
            <p>
                © 2026 MMU Lost Hub
                <br>
                Designed by: Kho Yee Theng / Tan Yun Fee / Lim Tze Ying
            </p>
        </footer>
    </body>
</html>