<!-- yt did this page -->
{% load static %}
<!DOCTYPE html>
<html>
    <head> 
    
        <!-- YF - Added -->
        <script src="{% static 'items/js/popup.js' %}" defer></script>
        <script src="{% static 'items/js/mainpage.js' %}" defer></script>
        <script>const CURRENT_USER_ID = "{{ request.user.id|default:'' }}";</script>

        <link rel="stylesheet" href="{% static 'items/css/popup.css' %}">
        <link rel="stylesheet" href="{% static 'items/css/mainpage.css' %}">

        <!-- CSS Links -->
        <link rel="stylesheet" href="{% static 'items/css/main-layout.css' %}">
        <link rel="stylesheet" href="{% static 'items/css/post-popup.css' %}">

        <!-- JS Links -->
        <script src="{% static 'items/js/header.js' %}" defer></script>
        <script src="{% static 'items/js/logout.js' %}" defer></script>
        <script>window.DJANGO_LOGOUT_URL = "{% url 'logout' %}";</script>

        <title> 
            MMU Lost Hub 
        </title>

        <link rel="stylesheet" href="{% static 'items/css/mainpage.css' %}">
        
        <!-- Prevent browser cache, user cannot press back to access previous page -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> 
        <!-- Older browser cache prevention -->
        <meta http-equiv="Pragma" content="no-cache">
        <!-- Expire page immediately -->
        <meta http-equiv="Expires" content="0">

    </head>

    <body>
        <div class="whole-page">
            <header>
                
                <div class="header-left">               
                    <img src="{% static 'images/MMULogo.png' %}" alt="MMU Logo" class="mmu-logo">
                    <img src="{% static 'images/WebLogo-header.png' %}" alt="MMU Logo" class="losthub-logo">
                </div>

                <!-- yt adjusted for css uses-->
                <div class="header-right"> 
                    <!-- Home icon -->
                    <a href="{% url 'mainPage' %}" class="home-icon">
                        <img src="{% static 'images/homeicon.png' %}" alt="Home">
                    </a>

                    <a href="{% url 'chat_inbox' %}" class="chat-icon">
                        <img src="{% static 'images/chaticon.png' %}" alt="Chat">
                    </a>

                    <!-- Menu button -->
                    <button type="button" class="menu-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </header>

            <div id="overlay" class="overlay"></div> 

            <!-- ================================================== -->
            <!--              DROPDWOWN NAV MENU                    -->
            <!-- ================================================== -->
            <div class = "dropdown-nav">
                
                <nav id="menu" class="menu"> 
                    <ul>
                        <li>
                            <a href="{% url 'lost_posts' %}"> Lost Post </a>  
                        </li>
                        <li>
                            <a href="{% url 'found_posts' %}"> Found Post </a>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}"> Profile </a>
                        </li>
                        <li>
                            <a href="{% url 'feedback_form' %}"> Feedback </a>
                        </li>
                        <li class="logout">
                            <a href="javascript:void(0);" onclick="showLogoutConfirm()">Logout</a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="content">

                {% if messages %}
                    <script>
                        window.addEventListener("load", function () {
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    if (typeof showSuccess === "function") {
                                        showSuccess("{{ message|escapejs }}");
                                    }
                                {% elif message.tags == 'error' %}
                                    if (typeof showError === "function") {
                                        showError("{{ message|escapejs }}");
                                    }
                                {% endif %}
                            {% endfor %}
                        });
                    </script>
                {% endif %}

                <!-- -------------------------------------------------- -->
                <!--               YF - SEARCH FEATURE                  -->
                <!-- -------------------------------------------------- -->
                <div class="search-container">

                    <!-- --------------------------------- -->
                    <!--           KEYWORD Search          -->
                    <!-- --------------------------------- -->
                    <div class="keywordsearch">
                        <form method="GET" id="searchForm">

                            <input type="text" name="q" placeholder="Search..." value="{{ query }}">

                            <!-- ✖ clear button -->
                            {% if query %}
                            <span class="clear-search" onclick="clearSearch()">✖</span>
                            {% endif %}
                        </form>
                    </div>

                    <!-- --------------------------------- -->
                    <!--           FILTER Search           -->
                    <!-- --------------------------------- -->
                    <div class = "filtersearch">            

                        <!-- Filter Form -->
                        <form method="GET" id="filterForm">

                            <!-- --------------------------------- -->
                            <!--           Hidden Input            -->
                            <!-- --------------------------------- -->
                            <!-- Keep Search Keyword -->
                            <input type="hidden" name="q" value="{{ query }}">

                            <!-- Keep selected filters -->
                            {% for cat in selected_category %}
                                <input type="hidden" name="category" value="{{ cat }}">
                            {% endfor %}

                            <input type="hidden" name="start_date" value="{{ start_date }}">
                            <input type="hidden" name="end_date" value="{{ end_date }}">

                            <!-- --------------------------------- -->
                            <!--           Category Filter         -->
                            <!-- --------------------------------- -->
                            <div class = "category-filter">
                                <select id="categorySelect" onchange="addCategory(this)">
                                    <option value="">Category</option>

                                    {% for value, label in item_categories %}
                                        <option value="{{ value }}">
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>

                                <div id="categoryChips">
                                    {% for value in selected_category %}
                                        <span class="chip">
                                            {{ value }}

                                            <span onclick="removeFilter('category', '{{ value }}')">✖</span>
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- --------------------------------- -->
                            <!--           Location Filter         -->
                            <!-- --------------------------------- -->
                            <div class="location-filter">
                                <select name="location" onchange="this.form.submit()">
                                    <option value="">Location</option>

                                    {% for location in locations %}
                                        <option value="{{ location.id }}"
                                            {% if location.id|stringformat:'s' == selected_location %}selected{% endif %}>
                                            {{ location.location_name }}
                                        </option>
                                    {% endfor %}
                                </select>

                                {% if selected_location %}
                                    <span class="clear-btn" onclick="clearSingleFilter('location')">✖</span>
                                {% endif %}
                            </div>

                            <!-- --------------------------------- -->
                            <!--           Start Date Filter       -->
                            <!-- --------------------------------- -->
                            <div class="start-date-filter">
                                <lable>Start Date:</lable>
                                <input type="date" name="start_date" value="{{ start_date }}" onchange="this.form.submit()">

                                {% if start_date %}
                                    <span class="clear-btn" onclick="clearSingleFilter('start_date')">✖</span>
                                {% endif %}
                            </div>

                            <!-- --------------------------------- -->
                            <!--            End Date Filter        -->
                            <!-- --------------------------------- -->
                            <div class="end-date-filter">

                                <lable>End Date:</lable>

                                <input type="date" name="end_date" value="{{ end_date }}" onchange="this.form.submit()">

                                {% if end_date %}
                                    <span class="clear-btn" onclick="clearSingleFilter('end_date')">✖</span>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                    
                    <!-- --------------------------------- -->
                    <!--         Map Search Button         -->
                    <!-- --------------------------------- -->
                    <div class = "map-search">
                        <a href="{% url 'mapSearch' %}">
                            <img src="{% static 'images/map-icon.png' %}" alt="Map Search" class="map-icon">
                        </a>
                    </div>
                </div>

                <h2>Lost Posts</h2>
                
                <!-- ===================================== -->
                <!--          POST VIEW SECTION            -->
                <!-- ===================================== -->
                <div class="post-list">

                    {% for post in posts %}

                        <!-- Open popup modal after clicked -->
                        <!-- Store username into HTML attribute, so JS can read it-->
                        <div class="post"
                            onclick="openPost(this)" 
                            data-name="{% if post.post_user.profile.name %}
                                        {{ post.post_user.profile.name }}
                                    {% else %}
                                        {{ post.post_user.username }}
                                    {% endif %}"
                            data-user="{{ post.post_user.username }}"
                            data-user-id="{{ post.post_user.id }}"
                            data-avatar="{% if post.post_user.profile and post.post_user.profile.avatar %}
                                        {{ post.post_user.profile.avatar.url }}
                                        {% else %}
                                        {% static 'images/default.png' %}
                                        {% endif %}"
                            data-chat-url="{% url 'start_chat' post.post_user.username %}?next={{ request.get_full_path|urlencode }}"
                            data-profile="{% url 'userProfile' post.post_user.username %}" 
                            data-type="{{ post.post_type }}"
                            data-date="{{ post.post_datetime }}" 
                            data-category="{{ post.get_post_itemcategory_display }}"
                            data-location-code="{% if post.post_location %}{{ post.post_location.location_code }}{% endif %}"
                            data-location-name="{% if post.post_location %}{{ post.post_location.location_name }}{% endif %}"
                            data-description="{{ post.post_description }}"
                            data-images="{% for img in post.sorted_images %}{{ img.image.url }}|{% endfor %}"

                            data-post-id="{{ post.id }}"
                            data-status="{{ post.post_status }}"
                            data-edit-url="{% url 'editPost' post.id %}"
                            data-delete-url="{% url 'deletePost' post.id %}"
                            data-report-post-url="{% url 'submit_report' %}?post_id={{ post.id }}"
                            data-report-user-url="{% url 'report_user' post.post_user.id %}">
                            
                            <div class = "post-box">

                                <!-- ------------------------------ -->
                                <!--     YF - Post Small View       -->
                                <!-- ------------------------------ -->
                                <div class = "post-view">
                                    <div class = "post-header">

                                        <!-- --------------------------------- -->
                                        <!--    User Name & Profile Photo      -->
                                        <!-- --------------------------------- -->
                                        <div class="user-info">
                                            {% with profile=post.post_user.profile %}

                                                <img class="avatar"
                                                    src="{% if profile.avatar %}
                                                            {{ profile.avatar.url }}
                                                        {% else %}
                                                            {% static 'images/default.png' %}
                                                        {% endif %}"
                                                    alt="avatar">

                                                <span class="name">
                                                    {{ profile.name|default:post.post_user.username }}
                                                </span>

                                            {% endwith %}
                                        </div>
                                        
                                        <!-- --------------------------------- -->
                                        <!--           Post Navigation         -->
                                        <!-- --------------------------------- -->
                                        <!-- (differ own post / other user post to show nav) -->
                                        <div class = "post-nav" onclick="event.stopPropagation()">
                                            <div class = "post-nav-dropdown">
                                                <button class="post-nav-dropdown-btn" onclick="toggleDropdown(event)">⋮</button>
                                                <div class="post-nav-menu">

                                                    <!-- user themselves-->
                                                    {% if request.user == post.post_user %}

                                                        <div class = "btn">
                                                            <!-- Edit Post Butonn -->
                                                            <a href="{% url 'editPost' post.id %}?next={{ request.get_full_path|urlencode }}">
                                                                Edit Post
                                                            </a>
                                                        </div>
                                                        
                                                        <div class = "btn">
                                                            <!-- Delete Post / onsubmit = run confirmation popup from mainpage.js -->
                                                            <form method = "POST" action = "{% url 'deletePost' post.id %}" onsubmit = "confirmDelete(event, this)">
                                                                {% csrf_token %}

                                                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                                                
                                                                <button type="submit">
                                                                    Delete Post
                                                                </button>
                                                            </form>
                                                        </div>

                                                    <!-- Other Users -->
                                                    {%else %}

                                                        <div class = "btn">
                                                            <!-- ty Report Post Button -->
                                                            <a href="{% url 'submit_report' %}?post_id={{ post.id }}">
                                                                Report
                                                            </a>
                                                        </div>

                                                        <div class = "btn">
                                                            <!-- ty Report User Button -->
                                                            <a href="{% url 'report_user' user.id %}">
                                                                Report User
                                                            </a>
                                                        </div>

                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ------------------------------ -->
                                    <!--          Post Details          -->
                                    <!-- ------------------------------ -->
                                    <div class = "post-info">

                                        <!-- --------------------------------- -->
                                        <!--      Post Image (Check Multi)     -->
                                        <!-- --------------------------------- -->
                                        <div class="image-wrapper">

                                            {% if post.cover_image %}
                                                <img src="{{ post.cover_image.image.url }}" alt="Post Image" class="post-image">
                                            {% endif %}

                                            {% if post.images.count > 1 %}
                                                <img src="{% static 'images/multi-img-icon.png' %}" alt="Multiple Images" class="multi-img-icon">
                                            {% endif %}

                                        </div>

                                        <!-- --------------------------------- -->
                                        <!--           Date Time               -->
                                        <!-- --------------------------------- -->
                                        <p> <b>Date Time :</b> {{ post.post_datetime }} </p>

                                        <!-- --------------------------------- -->
                                        <!--            Category               -->
                                        <!-- --------------------------------- -->
                                        <p> <b>Item Category :</b> {{ post.get_post_itemcategory_display }} </p>

                                        <!-- --------------------------------- -->
                                        <!--     Location (Check Unknown)      -->
                                        <!-- --------------------------------- -->
                                        {% if post.post_location %}
                                            <p> <b>Location :</b> {{ post.post_location.location_name }}</p>
                                        {% elif post.post_type == "lost" %}
                                            <p> <b>Location :</b> Unknown Lost Location</p>
                                        {% endif %}

                                        <!-- ================================= -->
                                        <!--            Post Status            -->
                                        <!-- ================================= -->
                                        <p class="post-status status-{{ post.post_status }}"><b>{{ post.get_post_status_display }}</b></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- --------------------------------- -->
                    <!--         YF - NO POST MSG          -->
                    <!-- --------------------------------- -->
                    {% empty %}
                        <div class = "no-post">
                            <img src="{% static 'images/nopost-bg.png' %}" class="nopost-img">
                        </div>
                    {% endfor %}

                </div>

                <!-- -------------------------------- -->
                <!--         YF - PAGE CHANGE         -->
                <!-- -------------------------------- -->
                <div class="pagination">

                    <!-- FIRST -->
                    {% if posts.has_previous %}
                        <a href="?page=1
                        {% if query %}&q={{ query }}{% endif %}
                        {% for c in selected_category %}&category={{ c }}{% endfor %}
                        {% for l in selected_location %}&location={{ l }}{% endfor %}
                        {% if start_date %}&start_date={{ start_date }}{% endif %}
                        {% if end_date %}&end_date={{ end_date }}{% endif %}
                        " class = "pagearrow">
                            <<
                        </a>

                        <a href="?page={{ posts.previous_page_number }}
                        {% if query %}&q={{ query }}{% endif %}
                        {% for c in selected_category %}&category={{ c }}{% endfor %}
                        {% for l in selected_location %}&location={{ l }}{% endfor %}
                        {% if start_date %}&start_date={{ start_date }}{% endif %}
                        {% if end_date %}&end_date={{ end_date }}{% endif %}
                        " class = "pagearrow">
                            <
                        </a>

                    {% else %}
                        <span class="disabled"> << </span>
                        <span class="disabled"> < </span>
                    {% endif %}

                    <!-- PAGE NUMBERS -->
                    {% for num in posts.paginator.page_range %}

                        {% if posts.number <= 2 %}

                            {% if num <= 3 %}

                                {% if num == posts.number %}
                                    <span class="current">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% for c in selected_category %}&category={{ c }}{% endfor %}
                                    {% for l in selected_location %}&location={{ l }}{% endfor %}
                                    {% if start_date %}&start_date={{ start_date }}{% endif %}
                                    {% if end_date %}&end_date={{ end_date }}{% endif %}"
                                    class="pagenum">
                                        {{ num }}
                                    </a>
                                {% endif %}

                            {% endif %}

                        {% elif posts.number >= posts.paginator.num_pages|add:"-1" %}

                            {% if num >= posts.paginator.num_pages|add:"-2" %}

                                {% if num == posts.number %}
                                    <span class="current">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% for c in selected_category %}&category={{ c }}{% endfor %}
                                    {% for l in selected_location %}&location={{ l }}{% endfor %}
                                    {% if start_date %}&start_date={{ start_date }}{% endif %}
                                    {% if end_date %}&end_date={{ end_date }}{% endif %}"
                                    class="pagenum">
                                        {{ num }}
                                    </a>
                                {% endif %}

                            {% endif %}

                        {% else %}

                            {% if num >= posts.number|add:"-1" and num <= posts.number|add:"1" %}

                                {% if num == posts.number %}
                                    <span class="current">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% for c in selected_category %}&category={{ c }}{% endfor %}
                                    {% for l in selected_location %}&location={{ l }}{% endfor %}
                                    {% if start_date %}&start_date={{ start_date }}{% endif %}
                                    {% if end_date %}&end_date={{ end_date }}{% endif %}"
                                    class="pagenum">
                                        {{ num }}
                                    </a>
                                {% endif %}

                            {% endif %}

                        {% endif %}
                    {% endfor %}

                    <!-- NEXT + LAST -->
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}
                        {% if query %}&q={{ query }}{% endif %}
                        {% for c in selected_category %}&category={{ c }}{% endfor %}
                        {% for l in selected_location %}&location={{ l }}{% endfor %}
                        {% if start_date %}&start_date={{ start_date }}{% endif %}
                        {% if end_date %}&end_date={{ end_date }}{% endif %}
                        " class = "pagearrow">
                            >
                        </a>

                        <a href="?page={{ posts.paginator.num_pages }}
                        {% if query %}&q={{ query }}{% endif %}
                        {% for c in selected_category %}&category={{ c }}{% endfor %}
                        {% for l in selected_location %}&location={{ l }}{% endfor %}
                        {% if start_date %}&start_date={{ start_date }}{% endif %}
                        {% if end_date %}&end_date={{ end_date }}{% endif %}
                        " class = "pagearrow">
                            >>
                        </a>
                    {% else %}
                        <span class="disabled"> > </span>
                        <span class="disabled"> >> </span>
                    {% endif %}

                </div>
                
                <!-- ================================================== -->
                <!--                   POPUP POST VIEW                  -->
                <!-- ================================================== -->
                <div id="postModal" class="modal">

                    <div class="modal-content">
                        <div class="top-actions">
                            <span class="close" onclick="closePost()">&times;</span> <!-- Symbol display cross -->

                            <!-- ============================== -->
                            <!--        Post Navigation        -->
                            <!-- ============================== -->
                            <div class="post-nav" onclick="event.stopPropagation()">

                                <div class="post-nav-dropdown">

                                    <button class="post-nav-dropdown-btn" onclick="toggleDropdown(event)">
                                        ⋮
                                    </button>

                                    <div class="post-nav-menu">

                                        <!-- OWNER -->
                                        {% if request.user.id == post.post_user.id %}

                                            <div class="btn">
                                                <a id="edit_link" href="">
                                                    Edit Post
                                                </a>
                                            </div>

                                            <div class="btn">
                                                <form id="delete_form" method="POST" onsubmit="confirmDelete(event, this)">
                                                    {% csrf_token %}
                                                    <button type="submit">Delete Post</button>
                                                </form>
                                            </div>

                                        <!-- OTHER USERS -->
                                        {% else %}

                                            <div class="btn">
                                                <a id="report_post_link" href="">
                                                    Report
                                                </a>
                                            </div>

                                            <div class="btn">
                                                <a id="report_user_link" href="">
                                                    Report User
                                                </a>
                                            </div>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">

                            <div class="modal-left">
                                <div class="popup-user">
                                    <a id="m_user_link" href="">
                                        <img id="m_avatar" src="" alt="avatar" class="popup-avatar">
                                        <span id="m_user"></span>
                                    </a>
                                </div>

                                <div class="img-container">
                                    <button class="prev-btn" onclick="prevImg()"><</button>

                                    <img id="m_image">

                                    <button class="next-btn" onclick="nextImg()">></button>
                                </div>
                            </div>

                            <div class="modal-right">
                                <h2 id="m_type"></h2> <!-- JS inserts post type -->
                                <div class="post-details">
                                    <p>
                                        <b>Date Time :</b> <span id="m_date"></span>
                                    </p>
                                    <p>
                                        <b>Item Category :</b> <span id="m_category"></span>
                                    </p>
                                    <p>
                                        <b>Location :</b> <span id="m_location"></span>
                                    </p>
                                </div>

                                <div class="post-description">
                                    <div class="desc-header">Description</div>
                                    <div id="m_description"></div>
                                </div>

                                <!-- YF added for status -->
                                <div id="status_btn_container" class = "popup-status">
                                    <button id="status_btn" type="button"></button>
                                </div>

                                <form id="status_form" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                </form>
                            </div>
                            
                            <div class="chatBtn" id="chat_btn_container">
                                <!-- zinc add chat url-->
                                <a id="chat_link" href="#">
                                    <button type="button">Chat</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ------------------------------ -->
            <!--    YF - TO PAGE TOP BUTTON     -->
            <!-- ------------------------------ -->
            <div class="scroll_top" id="scrollTopBtn" onclick="scrollToTop()">
                <img src="{% static 'images/top-icon.png' %}" alt="Back To Top" class="top-icon">
            </div>

            <!-- ------------------------------ -->
            <!--    YF - CREATE POST BUTTON     -->
            <!-- ------------------------------ -->
            <div class="create_post">
                <a href="{% url 'createPost' %}"> 
                    + 
                </a>
            </div>

            <!-- -------------------------------------------------- -->
            <!--         YF - DELETE POST POPUP CONFIRMATION        -->
            <!-- -------------------------------------------------- -->
            <div id="deletePostPopup" class="dlt-popup-modal">
                <div class="dlt-popup-box">

                    <p>Are you sure you want to delete this post?</p>

                    <div class="dlt-popup-btns">
                        <button id="deleteConfirmBtn" onclick="confirmDeletePost()">Delete</button>
                        <button onclick="closeDeletePopup()">Cancel</button>
                    </div>

                </div>
            </div>

            <!-- -------------------------------------------------- -->
            <!--             YF - POPUP MSG MODAL                   -->
            <!-- -------------------------------------------------- -->
            <div id="messagePopup" class="message-popup">

                <div class="message-box">

                    <h3 id="messageTitle"></h3>

                    <p id="messageText"></p>

                    <div class="popup-buttons">

                        <button id="messageBtn">OK</button>

                        <button id="messageCancelBtn">Cancel</button>

                    </div>
                </div>
            </div>

            <!-- -------------------------------------------------- -->
            <!--         YF - POST STATUS CHANGE POPUP              -->
            <!-- -------------------------------------------------- -->
            <div id="statusPopup" class="status-popup-modal">
                <div class="status-popup-box">
                    <p> Set post as COMPLETED? </p>
                    <form id="status_form" method="POST">
                        {% csrf_token %}
                        <div class = "status-popup-btn">
                            <button type="button" id="statusConfirmBtn">Confirm</button>
                            <button type="button" id="statusCancelBtn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- ================================================== -->
            <!--                LOGOUT POPUP CONFIMATION            -->
            <!-- ================================================== -->
            <div id="confirmPopup" class="popup-modal">
                <div class="popup-box">
                    <p>Are you sure you want to logout?</p>

                    <div class="popup-btns">
                        <button onclick="confirmLogout()">OK</button>
                        <button onclick="cancelLogout()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Logout Success Popup -->
            <div id="successPopup" class="popup"></div>
            
        </div>
    </body>

    <footer>
        <p>© 2026 MMU Lost Hub<br></p>
    </footer>

</html>