<!-- yt did this page -->
{% load static %}
<!DOCTYPE html>
<html>
    <head> 
    
        <!-- YF - Added -->
        <link rel="stylesheet" href="{% static 'items/css/popup.css' %}">
        <link rel="stylesheet" href="{% static 'items/css/mainpage.css' %}">
        <script src="{% static 'items/js/popup.js' %}" defer></script>
        <script src="{% static 'items/js/mainpage.js' %}" defer></script>
        <script>const CURRENT_USER_ID = "{{ request.user.id }}";</script>

        <!-- yt added -->
        <link rel="stylesheet" href="{% static 'items/css/lostpage.css' %}">
        <link rel="stylesheet" href="{% static 'items/css/post-popup.css' %}">

        <script src="{% static 'items/js/header.js' %}" defer></script>
        <script src="{% static 'items/js/logout.js' %}" defer></script>
        <script>window.DJANGO_LOGOUT_URL = "{% url 'logout' %}";</script>

        <title> 
            MMU Lost Hub 
        </title>

        <link rel="stylesheet" href="{% static 'items/css/mainpage.css' %}">
        
        <!-- Prevent browser cache, user cannot press back to access previous page -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> 
        <!-- Older browser cache prevention -->
        <meta http-equiv="Pragma" content="no-cache">
        <!-- Expire page immediately -->
        <meta http-equiv="Expires" content="0">

    </head>

    <body>
        <div class="whole-page">
            <header>
                <div class="header-left"> <!-- yt adjusted for css uses-->              
                    <img src="{% static 'images/MMULogo.png' %}" alt="MMU Logo" class="mmu-logo">
                    <img src="{% static 'images/WebLogo-header.png' %}" alt="MMU Logo" class="losthub-logo">
                </div>

                <div class="header-right"> <!-- yt adjusted for css uses-->
                    <!-- Home icon -->
                    <a href="{% url 'mainPage' %}" class="home-icon">
                        <img src="{% static 'images/homeicon.png' %}" alt="Home">
                    </a>

                    <a href="{% url 'chat_inbox' %}" class="chat-icon">
                        <img src="{% static 'images/chaticon.png' %}" alt="Chat">
                    </a>

                    <!-- Menu button --> <!-- yt adjusted for css uses-->
                    <button type="button" class="menu-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </header>

            <div id="overlay" class="overlay"></div> <!-- yt adjusted for css uses-->

            <!-- ================================================== -->
            <!--            Dropdown Menu Navigation                -->
            <!-- ================================================== -->
            <div class = "dropdown-nav">
                
                <nav id="menu" class="menu"> <!-- yt adjusted for css uses-->
                    <ul>
                        <li>
                        <a href="{% url 'lost_posts' %}"> Lost Post </a>  
                        </li>
                        <li>
                        <a href="{% url 'found_posts' %}"> Found Post </a>
                        </li>
                        <li>
                        <a href="{% url 'profile' %}"> Profile </a>
                        </li>
                        <li>
                        <a href="{% url 'feedback_form' %}"> Feedback </a>
                        </li>
                        <li class="logout">
                        <a href="javascript:void(0);" onclick="showLogoutConfirm()">Logout</a> 
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="content">

                <!-- ================================================== -->
                <!--                    Search Feature                  -->
                <!-- ================================================== -->
                <div class="search-container">

                    <!-- Keyword Search -->
                    <div class="keywordsearch">
                        <form method="GET" id="searchForm">

                            <input
                                type="text"
                                name="q"
                                placeholder="Search..."
                                value="{{ query }}"
                            >

                            <!-- ✖ clear button -->
                            {% if query %}
                            <span class="clear-search" onclick="clearSearch()">✖</span>
                            {% endif %}
                        </form>
                    </div>

                    <div class = "filtersearch">            

                        <!-- Filter Form -->
                        <form method="GET" id="filterForm">

                            <!-- Keep Search Keyword -->
                            <input type="hidden" name="q" value="{{ query }}">

                            <!-- Keep selected filters -->
                            {% for cat in selected_category %}
                                <input type="hidden" name="category" value="{{ cat }}">
                            {% endfor %}

                            <input type="hidden" name="start_date" value="{{ start_date }}">
                            <input type="hidden" name="end_date" value="{{ end_date }}">

                            <!-- Category -->
                            <select id="categorySelect" onchange="addCategory(this)">
                                <option value="">Category</option>

                                {% for value, label in item_categories %}
                                    <option value="{{ value }}">
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>

                            <div id="categoryChips">

                                {% for value in selected_category %}

                                    <span class="chip">
                                        {{ value }}

                                        <span onclick="removeFilter('category', '{{ value }}')">✖</span>
                                    </span>

                                {% endfor %}

                            </div>

                            <!-- Location -->
                            <select name="location" onchange="this.form.submit()">
                                <option value="">Location</option>

                                {% for location in locations %}
                                    <option value="{{ location.id }}"
                                        {% if location.id|stringformat:'s' in selected_location %}selected{% endif %}>
                                        {{ location.location_name }}
                                    </option>
                                {% endfor %}
                            </select>

                            {% if selected_location %}
                                <span class="clear-btn" onclick="clearSingleFilter('location')">✖</span>
                            {% endif %}

                            <lable>Start Date:</lable>
                            <input type="date"
                                name="start_date"
                                value="{{ start_date }}"
                                onchange="this.form.submit()">

                            {% if start_date %}
                                <span class="clear-btn" onclick="clearSingleFilter('start_date')">✖</span>
                            {% endif %}

                            <lable>End Date:</lable>
                            <input type="date"
                                name="end_date"
                                value="{{ end_date }}"
                                onchange="this.form.submit()">

                            {% if end_date %}
                                <span class="clear-btn" onclick="clearSingleFilter('end_date')">✖</span>
                            {% endif %}

                        </form>

                        <div class = "map-search">
                            <a href="{% url 'mapSearch' %}">
                                Map
                            </a>
                        </div>
                    </div>

                </div>

                {% if query %}
                    <p>
                        Search result for "{{ query }}"
                    </p>
                {% endif %}

                <h2>Lost Posts</h2>
                
                <div class="post-list">
                    {% for post in posts %}

                    <!-- yt added -->
                    <!-- Open popup modal after clicked -->
                    <!-- Store username into HTML attribute, so JS can read it-->
                    <div class="post"
                        onclick="openPost(this)" 
                        data-user="{{ post.post_user.username }}"
                        data-user-id="{{ post.post_user.id }}"
                        data-chat-url="{% url 'start_chat' post.post_user.username %}?next={{ request.get_full_path|urlencode }}"
                        data-profile="{% url 'userProfile' post.post_user.username %}" 
                        data-type="{{ post.post_type }}"
                        data-date="{{ post.post_datetime }}" 
                        data-category="{{ post.get_post_itemcategory_display }}"
                        data-location-code="{% if post.post_location %}{{ post.post_location.location_code }}{% endif %}"
                        data-location-name="{% if post.post_location %}{{ post.post_location.location_name }}{% endif %}"
                        data-description="{{ post.post_description }}"
                        data-images="{% for img in post.images.all %}{{ img.image.url }}|{% endfor %}">
                        <div class = "post-box">

                            <div class = "post-view">
                                
                                <!-- ============================== -->
                                <!--          Post Navigation       -->
                                <!-- ============================== -->
                                <!-- Post Navigation (differ own post / other user post to show nav) -->
                                <div class = "post-nav">

                                    <!-- user themselves-->
                                    {% if request.user == post.post_user %}
                                        
                                        <a href="{% url 'editPost' post.id %}">
                                            Edit Post
                                        </a>

                                        <!-- Delete Post / onsubmit = run confirmation popup from mainpage.js -->
                                        <form method = "POST" action = "{% url 'deletePost' post.id %}" onsubmit = "confirmDelete(event, this)">
                                            {% csrf_token %}

                                            <button type="submit">
                                                Delete Post
                                            </button>
                                        </form>

                                    {%else %}

                                        <a href="{% url 'submit_report' %}?post_id={{ post.id }}">
                                            <button type="button">Report</button>
                                        </a>

                                        <a href="{% url 'report_user' user.id %}">
                                            <button type="button">Report User</button>
                                        </a>
                                        
                                    {% endif %}
                                </div>

                                <!-- ============================== -->
                                <!--          Post Small View       -->
                                <!-- ============================== -->
                                <!-- Show Post Owner -->
                                <p>
                                    <a href="{% url 'userProfile' post.post_user.username %}">
                                        {{ post.post_user.username }}
                                    </a>
                                </p>

                                <!-- Image -->
                                <div class="image-wrapper">

                                    {% if post.cover_image %}
                                        <img
                                            src="{{ post.cover_image.image.url }}"
                                            alt="Post Image"
                                            class="post-image"
                                        >
                                    {% endif %}

                                    {% if post.images.count > 1 %}
                                        <div class="multiple-icon">
                                            📷 {{ post.images.count }}
                                        </div>
                                    {% endif %}

                                </div>

                                <!-- Date Time -->
                                <p> Date Time: {{ post.post_datetime }} </p>

                                <!-- Category -->
                                <p> Item Category: {{ post.get_post_itemcategory_display }} </p>

                                <!-- Location (If Lost Pos can no location ) -->
                                {% if post.post_location %}
                                    <p> Location: {{ post.post_location.location_name }}</p>
                                {% elif post.post_type == "lost" %}
                                    <p> Location: Unknown Lost Location</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    
                    <!-- If no post inside Show -->
                    {% empty %}
                        <div class = "no_post">
                            <p> No posts available. </p>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- YT - Post View Popup Modal -->
                <div id="postModal" class="modal">

                    <div class="modal-content">

                        <span class="close" onclick="closePost()">&times;</span> <!-- Symbol display cross -->

                        <div class="modal-body">

                            <div class="modal-left">
                                <p>
                                    <a id="m_user_link" href="">
                                        <span id="m_user"></span>
                                    </a>
                                </p> <!-- JS inserts username -->
                                
                                <div class="img-container">
                                    <button class="prev-btn" onclick="prevImg()">⬅</button>

                                    <img id="m_image" style="max-width:100%; display:none;">

                                    <button class="next-btn" onclick="nextImg()">➡</button>
                                </div>
                            </div>

                            <div class="modal-right">
                                <h2 id="m_type"></h2> <!-- JS inserts post type -->

                                <p><b>Date:</b> <span id="m_date"></span></p>

                                <p><b>Category:</b> <span id="m_category"></span></p>

                                <p><b>Location:</b> <span id="m_location"></span></p>

                                <p><b>Description:</b></p>
                                <p id="m_description"></p>

                                <div class="chatBtn" id="chat_btn_container" style="display:none;">
                                    <!-- zinc add chat url-->
                                    <a id="chat_link" href="#">
                                        <button type="button">Chat</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================== -->
            <!--     Create Post Button         -->
            <!-- ============================== -->
            <div class="create_post">

                <!-- Check user got login anot -->
                {% if user.is_authenticated %}

                    <button type="button">
                        <a href="{% url 'createPost' %}"> 
                            Create Post 
                        </a>
                    </button>

                {% else %}

                    <!-- NO Login will show please Login Popup (mainpage.js)-->
                    <button type="button" onclick="pleaseLoginPopup()">
                        Create Post
                    </button>

                {% endif %}
            </div>

            <!-- ================================================== -->
            <!--           Delete Post Confirmation Modal           -->
            <!-- ================================================== -->
            <div id="deletePostPopup" class="dlt-popup-modal">
                <div class="dlt-popup-box">

                    <p>Are you sure you want to delete this post?</p>

                    <div class="dlt-popup-btns">
                        <button id="deleteConfirmBtn" onclick="confirmDeletePost()">Delete</button>
                        <button onclick="closeDeletePopup()">Cancel</button>
                    </div>

                </div>
            </div>

            <!-- yt added -->
            <!-- Confirm Logout Popup -->
            <div id="confirmPopup" class="popup-modal">
                <div class="popup-box">
                    <p>Are you sure you want to logout?</p>

                    <div class="popup-btns">
                        <button onclick="confirmLogout()">OK</button>
                        <button onclick="cancelLogout()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer>
        <p>© 2026 MMU Lost Hub<br></p>
    </footer>

</html>