<!DOCTYPE html>
<html>
    <head> 
        <title> 
            {% load static %}
            MMU Lost Hub 
        </title>
    </head>

    <body>
        <header>
            <img src="{% static 'images/MMU Logo.png' %}" alt="MMU Logo" class = "mmu-logo">

            <img src="{% static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu Button
            </nav>
            
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="#"> Found Post </a>                <!-- yt found post link -->
                <a href="{% url 'profile' %}"> Profile </a>                   <!-- yt profile link -->       
                <a href="{% url 'feedback' %}"> Feedback/Report </a>  <!-- zinc feedback link -->
                <a href="#"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <div class="search-bar">                                        <!-- after need to be changed when starting to do search feature -->
            <input type="text" placeholder="Search for items...">
            <button type="submit"> Search </button>
        </div>

        <div class="posts">
            <p>
                Post will be shown here
            </p>
        </div>

        <div class="create-post">
            <button type="button">
                <a href="{% url 'createPost' %}"> 
                    Create Post 
                </a>
            </button>
        </div>

        <footer>
            <p>
                © 2026 MMU Lost Hub
                <br>
                Designed by: Kho Yee Theng / Tan Yun Fee / Lim Tze Ying
            </p>
        </footer>
    </body>
</html>