<!DOCTYPE html>
<html>
    <head> 
        <title> 
            {% load static %}
            MMU Lost Hub 
        </title>
    </head>

    <body>
        <header>
            <img src="{% static 'images/MMU Logo.png' %}" alt="MMU Logo" class = "mmu-logo">

            <img src="{% static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu Button
            </nav>
            
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="#"> Found Post </a>                <!-- yt found post link -->
                <a href="{% url 'profile' %}"> Profile </a>                   <!-- yt profile link -->       
                <a href="{% url 'feedback_form' %}"> Feedback/Report </a>  <!-- zinc feedback link -->
                <a href="{% url 'logout' %}" onclick="return confirmLogout()">Logout</a>                  <!-- yt logout link -->
            </div>
        </div>

        <div class="search_bar">                                        <!-- after need to be changed when starting to do search feature -->
            <input type="text" placeholder="Search for items...">
            <button type="submit"> Search </button>
        </div>

        <div class="post_list">
            {% for post in posts %}
                <div class = "post_box">
                    <h4> {{ post.post_type }} </h4>
                    <p> Date Time :{{ post.post_datetime }} </p>
                    <p> Item Category :{{ post.post_itemcategory }} </p>
                    <p> Location :{{ post.post_location }} </p>
                </div>
            {% empty %}
                <div class = "no_post">
                    <p> No posts available. </p>
                </div>
            {% endfor %}
        </div>

        <div class="create_post">
            <button type="button">
                <a href="{% url 'createPost' %}"> 
                    Create Post 
                </a>
            </button>
        </div>

        <footer>
            <p>
                © 2026 MMU Lost Hub
                <br>
                Designed by: Kho Yee Theng / Tan Yun Fee / Lim Tze Ying
            </p>
        </footer>
    </body>

    <script>
        function confirmLogout() {
            return confirm("Do you want to logout?");
        }
    </script>
</html>