<!DOCTYPE html>
<html>
    <head> 
        <title> 
            MMU Lost Hub 
        </title>
    </head>

    <body>
        <header>
            <h1>
                MMU Logo
            </h1>
            <h1>
                Lost Hub Logo
            </h1>
        </header>

        <div class="dropdown-nav">
            <nav>
                Menu
            </nav>
            <div class="dropdown-content">
                <a href="{% url 'mainPage' %}"> Home </a>
                <a href="#"> Lost Post </a>                 <!-- yt lost post link -->
                <a href="#"> Found Post </a>                <!-- yt found post link -->
                <a href="#"> Profile </a>                   <!-- yt profile link -->
                <a href="#"> Feedback/Report </a>           <!-- zinc feedback link -->
                <a href="#"> Logout </a>                    <!-- yt logout link -->
            </div>
        </div>

        <div class="search-bar">                                        <!-- after need to be changed when starting to do search feature -->
            <input type="text" placeholder="Search for items...">
            <button type="submit"> Search </button>
        </div>

        <div class="posts">
            <p>
                Post will be shown here
            </p>
        </div>

        <div class="create-post">
            <button type="button">
                Create Post Button
            </button>
        </div>

        <footer>
            &copy; 2026 MMU Lost Hub. All rights reserved.
        </footer>

    </body>
</html>