<script>const CURRENT_USER_ID = "{{ request.user.id }}";</script>

<div id="postModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePost()">&times;</span>
        <div class="modal-body">
            <div class="modal-left">
                <p><a id="m_user_link" href=""><span id="m_user"></span></a></p>
                <img id="m_image" style="max-width:100%; display:none;">
            </div>
            <div class="modal-right">
                <h2 id="m_type"></h2>
                <p><b>Date:</b> <span id="m_date"></span></p>
                <p><b>Category:</b> <span id="m_category"></span></p>
                <p><b>Location:</b> <span id="m_location"></span></p>
                <p><b>Description:</b></p>
                <p id="m_description"></p>

                <div class="chatBtn" id="chat_btn_container" style="display:none;">
                    <a id="chat_link" href="#"><button type="button">Chat</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
