/* ========================= */
/*       IMAGE UPLOAD        */
/* ========================= */
.crop-modal {
    display:none;
    position:fixed;
    z-index:9999;
    inset:0;
    background:rgba(0,0,0,0.7);
}

/* Close button X */ 
.imgclose_button { 
    position: absolute; 
    top: 15px; 
    right: 25px; 
    font-size: 35px; 
    font-weight: bold; 
    cursor: pointer; 
}

.crop-container{
    background:white;
    width:90%;
    max-width:700px;
    position:relative;
}

.crop-preview{
    max-width: 500px;
    display: block;
}

.imagePreview-container{
    display: none;
}

.image-preview{
    width:240px;
    height:320px;
    object-fit:cover;
}
