.post-image{
    width: 500px;
    height: auto;
}

.search-container{

    display: flex;

    align-items: center;

    gap: 15px;

    margin: 20px;
}

/* ========================= */
/*       Search Input        */
/* ========================= */

#searchForm input[type="text"]{
    width: auto;
    border: 1px solid black;
}

/* ========================= */
/*        Filter Row         */
/* ========================= */

#filterForm{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Dropdown + Date */

#filterForm select,
#filterForm input[type="date"]{
    border: 1px solid black;
    cursor: pointer;
}

.hidden{
    display: none;
}

.chip{
    display: inline-flex;
    align-items: center;
    background: white;
}

.chip span{
    margin-left: 10px;
    cursor: pointer;
}

.image-wrapper{
    position:relative;
    width:fit-content;
}

.multiple-icon{
    position:absolute;
    top:10px;
    right:10px;
}

.keywordsearch {
    position: relative;
    display: inline-block;
}

.clear-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

.filtersearch {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-right: 10px;
}

.clear-btn {
    cursor: pointer;
    color: black;
}
