.map-page {
    display: flex;
    height: 100vh;
}

.map-left {
    flex: 1;
    position: relative;
}

.map-right {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.map{
    width:70%;
}

#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#map-tooltip{
    position:absolute;
    display:none;

    background:rgba(0,0,0,0.85);
    color:white;

    pointer-events:none;
    z-index:999;
}